/.bundle/
/.yardoc
/.ruby-version
/Gemfile.lock
/gems
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/test/
/tmp/
/test/
/lib/measures/test
/lib/measures/test_results
/lib/measures/*/test_results
/lib/measures/*/tests/output
/lib/measures/*/.rubocop.yml
/output
create_baseline.log
.rubocop*s3*
.rubocop.yml


# rspec failure tracking
.rspec_status

# Ignore IDE files
/.idea

# Ignore mac specific files
.DS_Store

# Ignore measure tester gem local test results
test_results/
